* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Début en Mobile Firt*/

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.card-sedans {
    background-color: hsl(31, 77%, 52%);
    width: 50%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    padding: 10%;
}

.card-sedans h2 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card-sedans p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 5%;
}

.card-suv {
    background-color: hsl(184, 100%, 22%);
    width: 50%;
    padding: 10%;
}

.card-suv h2 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card-suv p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 5%;
}

.card-luxury {
    background-color: hsl(179, 100%, 13%);
    width: 50%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding: 10%;
}

.card-luxury h2 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card-luxury p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 5%;
}

.cars {
    width: 30%;
}

.bouton1 {
    display: inline-block;
    color: hsl(31, 77%, 52%);
    border: 0;
    font-size: 10px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 50px;
    width: 100px;
    padding: 10px;
}

.bouton2 {
    color: hsl(184, 100%, 22%);
    border: 0;
    border-radius: 50px;
    width: 100px;
    padding: 10px;
    font-size: 10px;
    background-color: hsl(0, 0%, 95%);
}

.bouton3 {
    color: hsl(179, 100%, 13%);
    border: 0;
    border-radius: 50px;
    width: 100px;
    padding: 10px;
    font-size: 10px;
    background-color: hsl(0, 0%, 95%);
}


/*Fin de la partie pour Mobile*/


/*Début de la partie en desktop*/

@media screen and (min-width:1200px) {
    main {
        display: flex;
        flex-direction: row;
        margin-top: 10%;
        width: 50%;
        padding: 0;
        margin-left: 25%;
    }
    .card-sedans {
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;
        height: 45vh;
    }
    .card-sedans h2 {
        margin-left: -20%;
        padding-bottom: 10%;
    }
    .card-sedans p {
        margin-left: -20%;
        padding-bottom: 10%;
    }
    .bouton1 {
        margin-left: -20%;
        margin-top: 50%;
    }
    .cars {
        width: 55%;
        padding-bottom: 10%;
        margin-top: -200%;
        margin-left: -50%;
    }
    .card-suv {
        height: 45vh;
    }
    .card-suv h2 {
        margin-left: -20%;
        padding-bottom: 10%;
    }
    .card-suv p {
        margin-left: -20%;
        padding-bottom: 10%;
    }
    .bouton2 {
        margin-left: -20%;
        margin-top: 50%;
    }
    .card-luxury {
        height: 45vh;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }
    .card-luxury h2 {
        margin-left: -20%;
        padding-bottom: 10%;
    }
    .card-luxury p {
        margin-left: -20%;
        padding-bottom: 10%;
    }
    .bouton3 {
        margin-left: -20%;
        margin-top: 50%;
    }
    footer {
        background-color: black;
        position: absolute;
        width: 100%;
        height: 5vh;
        bottom: 0;
    }
}